@import "compass/reset";
@import "compass/utilities/general/clearfix";

.container, .row, .content{
  @include clearfix();
}

.container{
  width:980px;
  margin:0 auto;
  position:relative;

  .content{
    margin:0 10px;
  }
}

.column, .container .column:first-child{
  float:left;  
}

.container .column:last-child{
  float:none;
}