#top {
  background-color: #d0d0ce;
}

.logo{
  margin: 0;
}

.logo a{
  display: block;
  color:inherit;
  width: 243px;
  height: 55px;
  text-indent: -999px;
  background: url(../img/logo.png);
  overflow: hidden;
}

.linguas_lista{
  margin:9px 0;
  text-align: right;
}

.linguas_item{
  color:#3c3c3a;
  cursor: pointer;
  display: inline;
  font-size:0.925em;
  font-weight: bold;
  margin:0 1em 0 0;
  line-height: 2.5em;

  &:first-child{
    margin-left:0;
  }
}