/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "system";
@import "fonts";
@import "top";

body{
  background:url(../img/bg_home.jpg) no-repeat center top;
  font-family: 'Odebrecht-Sans',Sans-Serif;
}

.container{
  background:#fff;
}

#header{  
  background: transparent;
}

.container_banner{
  height:438px;
  background:url(../img/banner_home.jpg) no-repeat top center;

}

.text_relatorio{
  font-size: 0.75em;
  color: #fff;
  letter-spacing: 0.3em;
  margin: 2em 0 0 1em;
}

.text_veja_destaque_relatorio{
  bottom: 197px;
  color: #FFFFFF;
  font-size: 20px;
  position: absolute;
  right: 46px;
  font-family: 'Odebrecht-Slab',Sans-Serif;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.text_veja_destaque_relatorio .seta{
  padding:10px 22px;
  margin-left: 10px;
  background:url(../img/seta_banner.png) no-repeat;
}

.container_crescimento{
  background:#d70911;
  overflow: auto;
}

.crescimento_label{
  float:left;
  padding:31px 10px 24px;
  width: 500px;
}

.crescimento_label p{
  color:#7b0d00;
  text-transform: uppercase;
  letter-spacing: 7.3px;
}

.crescimento_label h3{
  color:#fff;
  font-family: 'Odebrecht-Slab',Sans-Serif;
  font-size: 85px;
  font-weight: normal;
  line-height: 70px;
  margin:0; 
  letter-spacing: -0.3px;
  margin: 22px 0 0;
}

.crecimento_descricao{
  margin-left: 515px;
  padding: 30px 10px 0;
}

.crecimento_descricao p{
  color:#dadbdb;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  margin:0;
}



#destaque{
  padding-top: 27px;
}

#destaque h4{
  font-family: 'Odebrecht-Slab',Sans-Serif;
  font-weight: normal;
  font-size: 22px;
  color:#75797b;  
  margin-bottom: 11px;
  margin-left: 7px;
    margin-top: 10px;
}

#destaque li{
  list-style: none;
  line-height: 50px;
}

#destaque ul{
  margin:0;
}

.icone_next{
  background: url("../img/seta_next.png") no-repeat scroll left top transparent;
  display: inline-block;
  height: 2.125em;
  margin:0 0.8em -0.7em 0.5em ;
  width: 2.125em;
}

.veja_o_relatorio{
    background: none repeat scroll 0 0 #D70911;
    color: #FFFFFF;
    display: inline-block;
    float: right;
    font-size: 18px;
    margin-right: 12px;
    margin-top: 7px;
    padding: 5px;
    font-style: italic;
    font-family: "Sans";
}

.veja_o_relatorio:hover{
  color:#fff;
}

.botoes_navegacao {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 54px;
}

.botoes_navegacao p{
  border: 1px solid #d0d0ce;
  display: block;
  float: left;
  font-weight: bold;
  margin: 0 0 -2px;
  padding: 0 5px;
  line-height: 25px;
}

.container_botoes_navegacao{
  border-bottom: 1px solid #d0d0ce;
  margin-left: 195px;
}

.posicao_botoes_navegacao{
  float:right;
  margin-top: 1px;
}

.container_botoes_navegacao button{
  margin:0;
  padding:0;
  background:url(../img/setas_navegacao.png) 8px 4px #000 no-repeat;
  overflow: hidden;
  text-indent: -999px;
  border:1px solid #333;
  width:55px;
  height:25px;
  display: block;
  float:left;
  box-shadow: 0 0 0 0;
  -o-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  border-right-width:0;
}

.container_botoes_navegacao .next_navegacao{
  background-position: 28px -16px;
  border-left-width:0;
  border-right-width:1px;
}

#rodape{
  background:#8a1002;
  color:#a3a3a3;
}

#rodape p {
  font-size: 0.9em;
  margin-left: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.content_rodape .container{
  @extend #header;
}

.slider_navegacao{
  margin-bottom: 30px;
}

.content_slider_navegacao .slider{
  transition: margin 0.5s;
  -o-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -webkit-transition: margin 0.5s;
}

.content_slider_navegacao{
  overflow: hidden;
  margin: 15px 10px 0;
  overflow: hidden;
}

.slider_navegacao ul{
  width:200%;
  margin:0;
  height:162px;
}

.slider_navegacao li{
  float:left;
  display: block;
  margin-left:20px;
  width:158px;
  height:158px;
  border:1px solid #d7d7d7;
  position: relative;

  &:first-child{
    margin-left:0px;
  }

  img{
    width:100%
  }
}

.slider_navegacao .text_content_slider{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  background: rgba(215, 9, 17, 0.5);

  opacity: 0;
  opacity: 1 \9;
  display: none \9;
  transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;

  &:hover{
    opacity:1.0;
    display: block \9;
    color:#fff;

    p{
      top:0;
    }
  }
}

.slider_navegacao .text_content_slider p{
  background: rgba(215, 9, 17, 0.5);
  display: block;
  padding:10px;
  color:#fff;
  position: absolute;
  left:0;
  top:-100%;

  transition: top 1s;
  -o-transition: top 1s;
  -moz-transition: top 1s;
  -webkit-transition: top 1s;

}

.powerby{
  float:right;
  display: block;
  overflow: hidden;
  width:250px;
  height:23px;
  background: url(../img/powerby.png) no-repeat right top;
  text-indent: -999px;
}

.clearfix{
  clear:both;
}


.navegacao_paginas{
  font-family: 'Odebrecht-Slab',Sans-Serif;
  line-height: 50px;
  border-bottom: 1px solid #d0d0ce;

  &.last{
    background: #d70911;
    margin-top: 46px;
    border:0;
    > a {
      color:#fff;
      text-decoration: none;
    }
  }
}

.prev_navegacao_paginas,
.next_navegacao_paginas{
  color: #75797B;
  font-size: 1.3em;
  padding-left: 2.75em;
}

.next_navegacao_paginas{
  float:right;
  padding-right: 3.1em;
  padding-left: 0;
}

.content_pages{
  h2{
    color:#75797b;
    font-family: 'Odebrecht-Slab',Sans-Serif;
    font-size: 1.8em;
    font-weight: normal;
    letter-spacing: 0.014em;    
    margin-top: 20px;
    margin-bottom: 6px;
  }
}

.indicador_valor{
  color: #75797B;
  font-family: "Sans";
  font-size: 1.1em;
  letter-spacing: -0.1em;
}

.receitas{
  padding-top: 40px;
}

.receita_bruta{
  background:#d70911;
  width:147px;
  height:107px;
  color:#fff;
  margin-right: 3px;

  .content{
    margin:25px 15px;
  }

  p{
    margin:0;
    font-family: 'Odebrecht-Slab',Sans-Serif;
    font-size: 1.7em;
    line-height: 0.9em;
  }
  span{
    display: block;
    font-family: "Sans";
  }

}

.receita_variacao{
  background:#3c3c3b;
  color:#fff;
  height:108px;
  width:320px;
  
  .content{
    margin:15px 12px;
  }

  span{
    display: block
  }
}

.receita_bruta, .receita_variacao{
  margin-top:63px;
}

.receita_grafico{
  text-align: right;
}

.receita_variacao_ano_content{
  float:left;
}

.receita_variacao_ano{
  margin-top: 35px;
  font-size: 0.875em;
}

.receita_variacao_ano_percent {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 8px;
}
.receita_variacao_valor_content{
  text-align: right;
}

.receita_variacao_valor{
  font-family: 'Odebrecht-Slab',Sans-Serif;
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 12px;
}

.receita_variacao_valor_dolar{
  font-size: 1.4em;
  font-family: "Sans";
  margin-top: 10px;
}

.distribuicao_receitas_tipo{
  border-left: 12px solid #d70911;
  margin-top: 42px;
  padding-left: 18px;
  margin-right: 50px;

  &:first-child{
    margin-top: 0;
  }

  span{
    font-size: 18px;
    color:#75797b;
  }
}

.engenharia_construcao{
  .distribuicao_receitas_tipo{
    border-left-width: 6px;
    margin-top: 36px;

     &:first-child{
    margin-top: 0;
  }
  }
}

.distribuicao_receitas_label,
.distribuicao_receitas_valor,
.distribuicao_receitas_orgao h4{
  font-family: "Odebrecht-Slab", Sans-Serif;
  font-size: 25px;
  font-weight: normal;
  color:#75797b;

   &.no-margin{
    margin:2px 0;
  }
}

.distribuicao_receitas_sublabel{
  margin-bottom: 40px;
  display: block;

  &.no-margin{
    padding: 5px 0 5px;
    margin: 0;
  }
}

.distribuicao_receitas_orgao_table{
  line-height: 39px;
  font-size: 18px;

  tbody tr{
    border-bottom: 1px solid;

    &:first-child{
      background:#ececec;
      border-bottom: 0;
    }

    td{
      padding:0 13px;
    }
  }

  .label{
    width:430px;
  }

  .real, .dolar{
    width:108px;
    text-align: center;
  }

  .dolar{
    width:136px;
  }
}

.distribuicao_receitas_orgao{
  padding-top: 70px;
}

.exportacoes{
  background: url(../img/banner_page_2.jpg) no-repeat 0 94px;
  padding-top: 14px;
}

.oportunidade{
  background: url(../img/banner_page3.jpg) no-repeat right 33px;
  padding-top: 14px;

}

h2 span{
  font-size: 18px;
  font-family: "Odebrecht-Sans", Sans;
}


.engenharia_construcao{
  width:380px;
  background: #3c3c3b;
  margin-left: 50px;
  position: relative;
  
  .content{
    margin:0px 13px;
    padding:12px 0 35px;
  }

  .distribuicao_receitas_tipo{
    margin-right:0;

    h4{
      margin-bottom: 40px;
    }
  }

  p, span, h4{
    color:#fff;
  }
}

.engenharia_construcao{
  @extend .engenharia_construcao;

  margin-left: 0;
}

.border_pattern{
  height:58px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/pattern_box_exportacoes.png)
}

h4{
  font-size: 30px;
  font-family: "Odebrecht-Slab", Sans-Serif;
  color:#75797b;
}

.industriais{
  width:490px;
  margin-left: 20px;
  margin-top: 400px;

  .row &.column{
    float:left;
  }

  p{
    font-size: 18px;
    color:#75797b;
  }

  .distribuicao_receitas_tipo{
    margin-top:20px;
  }
}

.content_grafico{
  height: 233px;
  position: relative;
  margin-left: 340px;
}

.graficos{
  height: 233px;
  position: absolute;
  bottom: 0;
  left:0;
  overflow: hidden;
  width: 100%;
}

.g_brasil, .g_exterior{
  width:76px;
  display: inline-block;
  color:#fff;
  text-align: center;
  position: absolute;
  bottom: 0;

  .g_text{
    text-align: center;
    font-size: 10px;
    height:0;
    position: absolute;
    bottom: 0;
    left:0;
    width:76px;

    transition: height 1s;
    -o-transition: height 1s;
    -moz-transition: height 1s;
    -webkit-transition: height 1s;
  }

  .g_red{
    background: #e30613;
    @extend .g_text;
  }

  .g_black{
    background: #3c3c3b;
    @extend .g_text;
  }

  .g_gray{
    background: #dadada;
    @extend .g_text;
  }

}

.g_exterior{
  left:100px;
}


.graficos span{
  display: block;
}